<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MMSPro.WebApp.Properties.Settings.MMSproConnectionString"
            connectionString="Data Source=MOSS;Initial Catalog=MMSpro;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSProConnectionString2"
            connectionString="Data Source=MOSS;Initial Catalog=MMSPro;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSProConnectionString1"
            connectionString="Data Source=MOSS;Initial Catalog=MMSPro;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSproConnectionString3"
            connectionString="Data Source=MOSS;Initial Catalog=MMSPro;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSproConnectionString4"
            connectionString="Data Source=MOSS;Initial Catalog=MMSPro;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSproConnectionString5"
            connectionString="Data Source=MOSS;Initial Catalog=MMSpro;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSProConnectionString6"
            connectionString="Data Source=MOSS;Initial Catalog=MMSPro;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSproConnectionString7"
            connectionString="Data Source=MOSS;Initial Catalog=MMSpro;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSproConnectionString8"
            connectionString="Data Source=MOSS;Initial Catalog=MMSPro;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSproConnectionString9"
            connectionString="Data Source=MOSS;Initial Catalog=MMSPro;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="MMSPro.WebApp.Properties.Settings.MMSproConnectionString10"
            connectionString="Data Source=MOSS;Initial Catalog=MMSpro;Persist Security Info=True;User ID=sa;Password=111qqq..."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>